body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f5f7fa;
}

.contenedor{

    width:90%;
    margin:auto;
    padding:30px;

}

h1{

    color:#2E7D32;

}

.subtitulo{

    color:gray;
    margin-bottom:30px;

}

.botones{

    display:flex;
    gap:15px;
    margin-bottom:40px;

}

.botones button{

    padding:12px 25px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#2E7D32;
    color:white;
    font-size:16px;
    transition:.3s;

}

.botones button:hover{

    background:#1B5E20;

}

.tarjetas{

    display:flex;
    gap:30px;
    margin-bottom:40px;

}

.card{

    flex:1;
    background:white;
    border-radius:12px;
    padding:25px;
    text-align:center;
    box-shadow:0px 5px 12px rgba(0,0,0,.15);

}

.card h2{

    color:#555;

}

.card h1{

    font-size:55px;
    color:#2E7D32;
    margin-top:15px;

}

.actividad{

    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0px 5px 12px rgba(0,0,0,.15);

}